---
layout: default
---

<section id="blog">	

	<div class="container">
		
		<div class="row">
			<div class="col-xs-12">
                <div class="center-heading text-center mt20 mb20">
                    <h2 class="txt-333">Blog</h2>
                    <span class="center-line dib"></span>
                </div>
			</div>
		</div>

		{% for post in site.posts %}

			{% if forloop.index == 1 %}

		  	<div class="row">

		  	{% endif %}

			{% assign loopindex = forloop.index | modulo: 2 %}

				<div class="col-md-6">

					<div class="mas-boxes-inner">
			            <a href="{{ post.url }}">
			            	<img src="{{ post.image }}" class="img-responsive ma" alt="{{ post.title }}">
			           	</a>
			            <div class="mas-blog-inner pa20">
			                <h3 class="mb15"><a href="#" class="txt-333">{{ post.title }}</a></h3>
			                <ul class="list-inline post-detail text-uppercase txt-777 mt0 mb10">
			                    <li calss="vam">by <a href="#" class="txt-333">{{ post.author }}</a></li>
			                    <li calss="vam"><i class="fa fa-calendar"></i> {{ post.date | date: '%B %d, %Y' }}</li>
			                </ul>
			                <p>{{ post.description }}</p>
			                <a href="{{ post.url }}" class="mt10 btn btn-blue btn-lg fs15">Read More</a>
			            </div>
			        </div>

		    {% if loopindex == 1 %}
		    	</div>
		  	{% else %}
		  		</div>
		  	</div>
		  		<div class="row">
		  	{% endif %}

		  	{% if forloop.length == forloop.index %}

		  		</div>

		  	{% endif %}

		{% endfor %}

	</div>

</section>



 
 


