/*** Colors ***/

.txt-4f82e9 {
	color: #4f82e9;
}

.txt-e0e0e0 {
	color: #e0e0e0 !important;
}

.txt-808080 {
	color: #808080 !important;
}

.txt-eee {
	color: #eee !important;
}

.txt-c0c0c0 {
	color: #c0c0c0 !important;
}

.txt-aaa {
	color: #aaa !important;
}

.txt-000 {
	color: #000 !important;
}

.txt-337ab7 {
	color: #337ab7 !important;
}

.txt-ef7f10 {
	color: #ef7f10 !important;
}

.txt-333 {
	color: #333 !important;
}

.txt-777 {
	color: #777 !important;
}

.txt-115262 {
	color: #115262;
}

.txt-ddd, a.txt-ddd, a.txt-ddd:visited {
	color: #ddd !important;
}

a.txt-ddd:hover {
	color: #337ab7 !important;
	text-decoration: none !important;
}

.txt-fff, a.txt-fff, a.txt-fff:hover, a.txt-fff:visited {
	color: #fff !important;
}

.bg-fff {
	background-color: #fff !important;
}

/* Almost Black */
.bg-111 {
	background-color: #111 !important;
}

/* Blue */
.bg-4f82e9 {
	background-color: #4f82e9 !important;
}

/* Gray */
.bg-eee {
	background-color: #eee !important;
}

/* Darker Gray */
.bg-c0c0c0 {
	background-color: #c0c0c0;
}

/* Navy Blueish */
.bg-115262 {
	background-color: #115262;
}

.bg-000 {
	background-color: #000;
}