		<footer id="footer" class="bg-111 txt-ddd pRel clearfix pb20">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="footer-logo mb20">
                            <a href="#home">
                            <img src="/assets/img/footerSiteLogo.png" alt="knowing when &trade;"></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb30">
                        <div class="footer-col">
                            <h3 class="txt-fff mb35 fs22">Contact Us</h3>
                            <ul class="list-unstyled contact mb30">
                                <li>
                                    <p class="mb10"><strong class="mr10"><i class="fa fa-map-marker mr5"></i> Address:</strong> 
                                    <br>Telepath Data, Inc.<br>2017 N Dinwiddie Street<br>Arlington, VA 22207</p>
                                </li> 
                                <li>
                                    <p class="mb10"><strong class="mr10"><i class="fa fa-envelope mr5"></i> Email Us:</strong> 
                                        <a href="mailto:inquiries@theseventhsense.com" class="txt-ddd">inquiries@theseventhsense.com</a>
                                    </p>
                                </li>
                            </ul>
                        </div>                        
                    </div>
                    <div class="col-md-4 mb30">
                        <div class="footer-col">
                            <h3 class="txt-fff mb35 fs22">Newsletter</h3>
                            <p>Needs copy if you want it here ... Needs copy if you want it here ... Needs copy if you want it here ... Needs copy if you want it here</p>
                            <form action="//theseventhsense.createsend.com/t/d/s/gtuji/" role="form" class="newsletter-form" id="newsletterForm" method="post">
                                <div class="input-group">
                                    <input id="fieldEmail" class="form-control" name="cm-gtuji-gtuji" type="email" required="required" placeholder="Enter email to subscribe" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-lg txt-000" type="submit">OK</button>
                                    </span>
                                </div>
                            </form>
                            <div id="newsletterThankYou" class="dn">
                                <p class="txt-337ab7 strong">Thanks for subscribing!</p>
                            </div>
                        </div>                        
                    </div>
                    <div class="col-md-4 mb30">
                        <div class="footer-col">
                            <h3 class="txt-fff mb35 fs22">Social</h3>
                            <ul class="list-inline social">
                                <li class="pln pr5"><a href="https://twitter.com/knowingwhen" target="_blank"><i class="fa fa-twitter text-center fs35 txt-fff"></i></a></li>
                                <li class="pln"><a href="https://www.linkedin.com/company/the-seventh-sense" target="_blank"><i class="fa fa-linkedin text-center fs35 txt-fff"></i></a></li>
                                <li class="pln pr5"><a href="https://www.youtube.com/channel/UC-txm6Lp3fKKVOVumO7Wx0A" target="_blank"><i class="fa fa-youtube text-center fs35 txt-fff"></i></a></li>
                            </ul>
                        </div>                        
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <div class="footer-block">
                            <span class="copyright">Copyright &copy; 2015 Telepath Data, Inc. All rights reseved.</span>
                            <ul class="footer-nav">
                                <li class="pipe">
                                    <a href="https://app.theseventhsense.com/privacy" class="txt-ddd">
                                        <i class="fa fa-gavel"></i>
                                        Privacy Policy
                                    </a>
                                </li>
                                <li class="link-top pipe">
                                    <a href="#home" class="txt-ddd">
                                        <i class="fa fa-arrow-up"></i>
                                        Back To Top
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
		
		
		<!-- build:js(app) /assets/js/vendor/jquery/jquery.min.js -->
		<script src="/assets/js/vendor/jquery/jquery.min.js"></script>
		<!-- endbuild -->
		
    	<!-- build:js(app) /assets/js/vendor/bootstrap/bootstrap.js -->
        <!--script src="assets/src/bootstrap/js/affix.js"></script-->
        <!--script src="assets/src/bootstrap/js/alert.js"></script-->
        <script src="/assets/src/bootstrap/js/dropdown.js"></script>
        <!--script src="assets/src/bootstrap/js/tooltip.js"></script-->
        <!--script src="assets/src/bootstrap/js/modal.js"></script-->
        <!--script src="assets/src/bootstrap/js/transition.js"></script-->
        <!--script src="assets/src/bootstrap/js/button.js"></script-->
        <!--script src="assets/src/bootstrap/js/popover.js"></script-->
        <!--script src="assets/src/bootstrap/js/carousel.js"></script-->
        <script src="/assets/src/bootstrap/js/scrollspy.js"></script>
        <script src="/assets/src/bootstrap/js/collapse.js"></script>
        <!--script src="assets/src/bootstrap/js/tab.js"></script-->
        <!-- endbuild -->
        
          
        <!-- build:js(app) /assets/js/vendor/plugins/plugins.js -->
        <!--
        <script src="assets/js/vendor/jquery/plugins/jquery.easing.1.3.min.js"></script> -->
        <script src="/assets/js/vendor/jquery/plugins/jquery.sticky.js"></script>
        <!--
        <script src="assets/js/vendor/jquery/plugins/jquery.flexslider-min.js"></script>
         
        <script src="assets/js/vendor/jquery/plugins//waypoints.min.js"></script>
        <script src="assets/js/vendor/jquery/plugins/jquery.counterup.min.js"></script>
        <script src="assets/js/vendor/jquery/plugins/wow.min.js"></script> 
        <script src="assets/js/vendor/jquery/plugins/owl.carousel.min.js"></script>
        <script src="assets/js/vendor/jquery/plugins/jquery.magnific-popup.min.js"></script>
        -->
        <!-- for parallax effect -->
        <script src="/assets/js/vendor/jquery/plugins/jquery.stellar.min.js"></script>
        <script src="/assets/js/custom.js"></script>
        <!--
        <script src="assets/js/vendor/jquery/plugins/typed.js"></script>
        -->
		<!-- endbuild -->
                
        {% include googleanalytics.html %}

  </body>
</html>