/*** Helpers ***/

.strong {
	font-weight: bold !important;
}

.w100 {
	width: 100%;
}

.vh {
	visibility: hidden;
}

.dn {
	display: none !important;
}

.db {
	display: block !important;
}

.dib {
	display: inline-block !important;
}

.pRel {
	position: relative !important;
}

.pAbs {
	position: absolute !important;
}

.vat {
	vertical-align: top !important;
}

.vam {
	vertical-align: middle !important;
}

.pRel {
	position: relative !important;
}

.pln {
	padding-left: 0px !important;
}

.prn {
	padding-right: 0px !important;
}

.pan {
	padding: 0px !important;
}

.pr5 {
	padding-right: 5px !important;
}

.pb5 {
	padding-bottom: 5px !important;
}

.pa10 {
	padding: 10px !important;
}

.pl10 {
	padding-left: 10px !important;
}

.par10 {
	padding-right: 10px !important;
}

.pa20 {
	padding: 20px !important;
}

.pt20 {
	padding-top: 20px !important;
}

.pb20 {
	padding-bottom: 20px !important;
}

.pt40 {
	padding-top: 40px !important;
}

.ma {
	margin: auto !important;
}

.man {
	margin: 0px !important;
}

.mbn {
	margin-bottom: 0px !important;
}

.mt0 {
	margin-top: 0px !important;
}

.mt5 {
	margin-top: 5px !important;
}

.mb5 {
	margin-bottom: 5px !important;
}

.mr5 {
	margin-right: 5px !important;
}

.ml10 {
	margin-left: 10px !important;
}

.mr10 {
	margin-right: 10px !important;
}

.mrn {
	margin-right: 0 !important;
}

.mt10 {
	margin-top: 10px !important;
}

.mb10 {
	margin-bottom: 10px !important;
}

.mb15 {
	margin-bottom: 15px !important;
}

.ma20 {
	margin: 20px !important;
}

.mr20 {
	margin-right: 20px !important;
}

.mt20 {
	margin-top: 20px !important;
}

.mb20 {
	margin-bottom: 20px !important;
}

.mb30 {
	margin-bottom: 30px !important; 
}

.mb35 {
	margin-bottom: 35px !important;
}

.mt40 {
	margin-top: 40px !important;
}

.mb40 {
	margin-bottom: 40px !important;
}


/*** Font Sizes ***/

.fs11 {
	font-size: 11px !important;
}

.fs15 {
	font-size: 15px !important;
}

.fs16 {
	font-size: 16px !important;
}

.fs18 {
	font-size: 18px !important;
}

.fs22 {
	font-size: 22px !important;
}

.fs35 {
	font-size: 35px !important;
}

.fs50 {
	font-size: 50px !important;
}

.fs150 {
	font-size: 150px !important;
}

.fs85 {
	font-size: 85px !important;
}

.fs175 {
	font-size: 175px !important;
}

.fs250 {
	font-size: 250px !important;
}

/*** Line Height ***/

.lh32 {
	line-height: 32px;
}
 

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}




